<!DOCTYPE html>
<html>
<head>
    <title>Aravinda Sametha Veera Raghava</title>
</head>
<body>
    <center>
        <h1>Aravinda Sametha Veera Raghava</h1>
        <p>Welcome to the Aravinda Sametha Veera Raghava album page!</p>
        <img src="../assets/images/Aravinda Sametha Veera Raghava photo.jpg" target="_blank" width="200" height="200">
        <p><b>Movie:</b> Aravinda Sametha Veera Raghava</p>
        <p><b>Release Year:</b> 2018</p>
        <p><b>Genre:</b> Romantic/Action</p>
        <p><b>Director:</b> Trivikram Srinivas</p>
        
        <h3>Songs</h3>
        
        <table border="1" cellpadding="10" cellspacing="0" style="margin: 0 auto; text-align: center;">
            <tr>
                <th>S.No</th>
                <th>Song Name</th>
                <th>Video</th>
                <th>Audio</th>
            </tr>
            <tr>
                <td>1</td>
                <td><h4>Peniviti</h4></td>
                <td>
                    <video controls width="320" height="240">
                        <source src="../assets/videos/Peniviti full video song.mp4">        
                    </video>
                </td>
                <td>
                    <audio controls>
                        <source src="../assets/audios/Peniviti.mp3">
                    </audio>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td><h4>Anaganaganaga</h4></td>
                <td>
                    <video controls width="320" height="240">
                        <source src="../assets/videos/Anaganaganaga full video song.mp4">
                    </video>
                </td>
                <td>
                    <audio controls>
                        <source src="../assets/audios/Anaganaganaga.mp3">     
                    </audio>
                </td>
            </tr>
        </table>
        
        <br><br>
        <a href="../index.html">Back to Home</a>
    </center>
</body>
</html>
