<!DOCTYPE html>
<html>
<head>
    <title>Devara</title>
</head>
<body>
    <center>
        <h1>Devara</h1>
        <p>Welcome to the Devara album page!</p>
        <img src="../assets/images/devara photo.jpg" target="_blank" width="200" height="200">
        <p><b>Movie:</b> Devara</p>
        <p><b>Release Year:</b> 2024</p>
        <p><b>Genre:</b> Romantic/Action</p>
        <p><b>Director:</b> Koratala Shiva</p>
        
        <h3>Songs</h3>
        
        <table border="1" cellpadding="10" cellspacing="0" style="margin: 0 auto; text-align: center;">
            <tr>
                <th>S.No</th>
                <th>Song Name</th>
                <th>Video</th>
                <th>Audio</th>
            </tr>
            <tr>
                <td>1</td>
                <td><h4>Fear</h4></td>
                <td>
                    <video controls width="320" height="240">
                        <source src="../assets/videos/Fear full video song.mp4">
                    </video>
                </td>
                <td>
                    <audio controls>
                        <source src="../assets/audios/Fear.mp3">
                    </audio>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td><h4>Chuttamalle</h4></td>
                <td>
                    <video controls width="320" height="240">
                        <source src="../assets/videos/Chuttamalle full video song.mp4">
                    </video>
                </td>
                <td>
                    <audio controls>
                        <source src="../assets/audios/Chuttamalle.mp3">     
                    </audio>
                </td>
            </tr>
        </table>
        
        <br><br>
        <a href="../index.html">Back to Home</a>
    </center>
</body>
</html>