<!DOCTYPE html>
<html>
<head>
    <title>Nannaku Prematho</title>
</head>
<body>
    <center>
        <h1>Nannaku Prematho</h1>
        <p>Welcome to the Nannaku Prematho album page!</p>
        <img src="../assets/images/Nannaku prematho photo.jpg" target="_blank" width="200" height="200">
        <p><b>Movie:</b> Nannaku Prematho</p>
        <p><b>Release Year:</b> 2015</p>
        <p><b>Genre:</b> Romantic/Drama</p>
        <p><b>Director:</b> Sukumar</p>
        
        <h3>Songs</h3>
        
        <table border="1" cellpadding="10" cellspacing="0" style="margin: 0 auto; text-align: center;">
            <tr>
                <th>S.No</th>
                <th>Song Name</th>
                <th>Video</th>
                <th>Audio</th>
            </tr>
            <tr>
                <td>1</td>
                <td><h4>Nannaku Prematho</h4></td>
                <td>
                    <video controls width="320" height="240">
                        <source src="../assets/videos/Nannaku Prematho Full Video Song.mp4">
                    </video>
                </td>
                <td>
                    <audio controls>
                        <source src="../assets/audios/Nannaku Mp3.Co.mp3">     
                    </audio>
                </td>
            </tr>
        </table>
        
        <br><br>
        <a href="../index.html">Back to Home</a>
    </center>
</body>
</html>
